@use '../App.scss' as root;

.tabControl {
    &__list {
        all: unset;
        display: flex;
        list-style: none;
        margin-bottom: 1rem;
    }

    &__item {
        margin-right: 0.5rem;
    }

    &__button {
        all: unset;
        background: root.$secondary-color;
        color: root.$white;
        padding: 8px 16px;

        &:hover,
        &:focus {
            background-color: root.$secondary-dark-color;
        }
    }
}