$primary-color: #247BA0;
$primary-dark-color: #1E6685;

$secondary-color: #70C1B3;
$secondary-dark-color: #54B6A5;

$black: #343434;
$white: #fff;
$grey: #e4e4e4;

$third: #B2DBBF;
$warning: #F3FFBD;
$error: #FF1654;

.budgetApp {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 2rem);
    max-width: 1440px;

    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar {
    &__list {
        all: unset;
        display: flex;
        list-style: none;
    }

    &__item {
        margin-right: 0.5rem;
    }

    &__button {
        all: unset;
        background: $primary-color;
        color: $white;
        padding: 8px 16px;

        &:hover,
        &:focus {
            background-color: $primary-dark-color;
        }
    }
}

.content-area {
    display: flex;
    flex-grow: 1;
    border: 1px solid $primary-dark-color;
    padding: 1rem;
}